<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .body {
            background-image: url("/static/one.png");
            align-items: center;
            align-content: center;
            justify-content: center;
        }
        .heading{
            font-family: monospace;
            display: block;
            margin: auto;
            color: white;
            font-weight: bolder;
            text-align: center;
            margin-top: 15%;
            font-size: 200%;
        }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ans</title>
</head>
<body class="body">
    <h1 class="heading">{% autoescape false %}
        {{finalans}}
    {% endautoescape %}
    </h1>
</body>
</html>